.header {
  width: 100vw;
  height: 60px;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #990000;
}

.header-home .logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 150px;
  height: 50px;
  left: 50%;
  transform: translate(-50%);
  color: black;
  background-color: #fff;
}

.navlink-header {
  color: white;
}


.header-home .nav-header {
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.header-global .nav-header {
  display: flex;
  gap: 1rem;
}