.header {
  width: 100vw;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-home .logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  left: 50%;
  transform: translate(-50%);
  color: black;
  gap: 1rem;

}

.logo-header .baseline {
  color: var(--black);
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
}

.logo-header .baseline span {
  color: var(--white);
  background-color: var(--primary);
  padding: 0.3rem 1rem;
  border-radius: var(--radius);
  margin-left: 0.5rem;
}

.navlink-header {
  color: var(--primary);
  font-weight: var(--font-weight-bold);
}

.navlink-header:hover {
  text-decoration: none;
  border-bottom: none;

}

.header-home .nav-header {
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.header-global .nav-header {
  display: flex;
  gap: 1rem;
}